body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  background: #f4f4f4;
}

#intro {
  padding: 2em;
  background: #fff;
  text-align: center;
}

#mapContainer {
  height: 100vh;
  width: 100vw;
  position: relative;
}

#mapOverlay {
  height: 100%;
  width: 100%;
  cursor: crosshair;
}

#formContainer {
  padding: 1em;
  max-width: 700px;
  margin: auto;
  background: #fff;
}

.hidden {
  display: none;
}